<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ontario
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ontario</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-status-of-cases></app-status-of-cases>
  <app-message></app-message>
  <app-list-records></app-list-records>
</ion-content>

<ion-footer>
  <app-data-reference></app-data-reference>
</ion-footer>
